<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h3>{{message}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui culpa mollitia, harum unde beatae accusamus atque ipsa fugit at et. Ab repellat, culpa, aperiam fugit ipsum cupiditate veniam obcaecati natus distinctio ut adipisci quod neque illum repudiandae consequuntur minima in hic quia non odit facere tenetur incidunt provident totam. Blanditiis laboriosam nostrum sed maxime cupiditate quo consectetur accusamus illum velit voluptas! Soluta itaque repudiandae suscipit, ratione rerum reiciendis iusto fuga quibusdam, praesentium et, veniam deserunt dicta voluptatum accusantium laboriosam expedita dolorem hic. Nisi deserunt modi quod dolorem earum fugit necessitatibus quia saepe blanditiis dignissimos, ipsum deleniti maiores voluptatem hic ex ad iure consequatur temporibus. Adipisci deserunt vitae quo, atque vel autem laboriosam modi expedita pariatur totam sint quibusdam deleniti dolores? Sit animi nam nesciunt natus quia ab quos dicta, veniam officiis sunt atque molestias commodi voluptas molestiae placeat? Nostrum facilis, mollitia dicta a, quod illo sint assumenda accusantium nisi deleniti eveniet consectetur vel maiores voluptatem, necessitatibus odio impedit praesentium reprehenderit quas. Accusantium tempore enim vero commodi iure laboriosam est iusto exercitationem? Iusto magni quis omnis eligendi nam ad minus, dolore voluptate ipsa dignissimos vel error facere molestiae dicta maiores molestias dolorem deleniti sunt unde, repellat amet. Saepe, similique quisquam!</p>

    </div>
    {{>footer}}
</body>
</html>